boto3==1.4.7
botocore==1.7.47
dj-database-url==0.4.2
Django==1.11.29
django-gravatar2==1.4.2
django-markdown-deux==1.0.5
django-storages==1.6.5
django-werkzeug-debugger-runserver==0.3.1
django-widget-tweaks==1.4.1
docutils==0.14
gunicorn==19.7.1
jmespath==0.9.3
markdown2==2.3.7
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
s3transfer==0.1.11
six==1.11.0
Werkzeug==0.12.2
whitenoise==3.3.1
