boto3<1.5
Django<2.0
dj-database-url<0.5
django-gravatar2<1.5
django-markdown-deux<2
django-storages<1.7
django-werkzeug-debugger-runserver>=0.3.1,<0.4
django-widget-tweaks<2.0
gunicorn<19.8
psycopg2<2.8
whitenoise<3.4
